body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
}

header {
  background-image: url("Fotos Simracing/road.jpg");
  background-size: cover;
  background-position: center;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 25vh;
}
header div {
  height: 80%;
}
header div img {
  height: 70%;
}
header div h1, header div h2 {
  height: 15%;
  box-sizing: border-box;
}
header .nav-brand {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  align-self: center;
  font-size: 32px;
  color: white;
}
header h1, header h2 {
  color: white;
  text-decoration: none;
}
header h2 {
  font-size: 16px;
}

nav {
  height: 7vh;
  background-color: #212f5c;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 3%;
}
nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
}
nav div a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}
nav div a:hover {
  color: rgb(201, 201, 201);
}

#site-main {
  display: flex;
  flex-wrap: wrap;
}

.blue-container {
  flex: 0 0 100%;
  background-color: #3498DB;
  padding: 20px;
  color: white;
  box-sizing: border-box;
}

.slider .swiper-slide {
  position: relative;
  overflow: hidden;
}
.slider .swiper-slide img {
  width: 140vh;
  height: 65vh;
  float: left;
}
.slider .swiper-slide .overlay-content h1, .slider .swiper-slide p {
  color: white;
}

.swiper-slide img {
  width: 100%;
}

.news-aside {
  flex: 0 0 30%;
  background-color: #f0f0f0;
  padding: 20px;
}
.news-aside h2 {
  font-size: 18px;
  color: black;
}
.news-aside ul {
  margin-top: 20px;
}
.news-aside li {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
}

.news-aside img {
  max-width: 43%;
  margin-right: 10px;
}

.news-aside nav {
  background-color: white;
  overflow: hidden;
  border-right: 1px solid black;
  box-sizing: border-box;
}

.news-aside nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  width: 33.33%;
  border-left: 1px solid black;
  box-sizing: border-box;
}

.news-aside nav a:first-child {
  border-left: none;
}

.news-aside nav a:hover {
  background-color: #ddd;
}

.news-aside img.nav-icon {
  max-width: 25px;
  margin-right: 10px;
}

.news-details p {
  margin: 0;
  font-size: 20px;
}
.news-details .date {
  color: #999;
}

.images-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.small-image {
  width: 23%;
  position: relative;
  margin-bottom: 20px;
}

.overlay-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
  color: white;
}

#footer {
  background-color: #212f5c;
  color: white;
  padding: 30px 0;
}
#footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#footer .container .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
#footer .container .row .col-4 {
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
}
#footer .container .row .col-4 .footer-title {
  color: white;
  border-bottom: 5px solid #3498DB;
  padding-bottom: 5px;
}
#footer .container .row .col-4 .text-secondary {
  color: #BDC3C7;
}
#footer .container .row .col-4 p {
  margin: 10px 0;
  color: white;
}
#footer .container .row .col-4 address,
#footer .container .row .col-4 .phone,
#footer .container .row .col-4 .email {
  margin-bottom: 10px;
}
#footer .container .row .col-4 address i,
#footer .container .row .col-4 .phone i,
#footer .container .row .col-4 .email i {
  margin-right: 10px;
}
#footer .container .row .tags {
  width: 40%;
  text-align: center;
  margin: 0 auto;
}
#footer .container .row .tags a {
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #212f5c;
  color: white;
}
#footer .container .row .tags a:hover {
  background-color: #3498DB;
}
#footer .container .row .social {
  width: 30%;
  text-align: center;
  margin: 0 auto;
}
#footer .container .row .social a {
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #3498DB;
  color: white;
}
#footer .container .row .social a i {
  margin-right: 5px;
}
#footer .copyrights {
  text-align: center;
}
#footer .copyrights .text-center {
  font-size: 24px;
  color: white;
}
#footer .copyrights .text-center a {
  color: #3498DB;
}
#footer .copyrights .text-center a:hover {
  text-decoration: underline;
}
#footer #simracer-logo {
  width: 80px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.article {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 145px solid #1c1e70;
  border-left: 145px solid #1c1e70;
  margin: 0 auto;
  max-width: 1200px;
}
.article img {
  max-width: 80%;
  margin-bottom: 15px;
}
.article .main-image {
  width: 100%;
}
.article .small-image {
  width: 50%;
}
.article h1 {
  color: #212f5c;
  font-size: 45px;
  margin-bottom: 40px;
  position: relative;
}
.article h1:after {
  content: "";
  display: block;
  width: 100vh;
  height: 3px;
  background-color: #212f5c;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.article h3 {
  font-size: 35px;
}
.article p {
  text-align: center;
  font-size: 17px;
  max-width: 1500px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
}
.article .text {
  color: black;
  text-align: center;
}
.article h2,
.article h3 {
  color: #212f5c;
  text-align: center;
  max-width: 1800px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=style.css.map */